.*
# --- SENSITIVE SYSTEM FILES (CRITICAL) ---
.ssh/
.bash_history
.bash_logout
.bashrc
.profile
.gitconfig
.Xauthority
.xsession-errors*
.sudo_as_admin_successful
.pki/
.cache/
.config/
.local/
.gnupg/

# --- PYTHON FILES ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# --- OS & TEMP FILES ---
.DS_Store
Thumbs.db
tmp/
*.tmp
*.log

!.gitignore
